*{
  max-width: 60rem;
  margin: 1rem auto;
}
h1, h2 {
  text-align: center;
}

li{
  list-style: none;
  display: inline-block;
  justify-content: space-around;
}

.categoryBtn{
  background-color: rgb(40, 187, 255);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: larger;
  width: 200px;
  height: 150px;
}

.nextBtn{
  background-color: rgba(21, 111, 245, 0.652);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.backBtn, .again{
  background-color: rgba(21, 245, 129, 0.652);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.answers{
  background-color: rgba(107, 240, 255, 0.68);
  padding: 10px;
  justify-items: center;
  border-radius: 10px;
}
