*{
 margin: 1rem auto;
 
}

h1{
  text-align: center;
  padding: 15px;
  background-color: rgba(44, 116, 249, 0.796);
  border-radius: 20px;
  color: azure;
  text-decoration: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}
h2{
  text-align: center;
  color: azure;
  font-weight: bolder;
  font-size: 2.5rem;
}

body{
background-image: url(https://wallpapercave.com/wp/wp2633736.png);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 10px;
}

li{
  list-style: none;
  display: inline-block;
  justify-content: space-around;
}

.categoryBtn{
  background-color: rgb(40, 187, 255);
  padding: 25px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
  width: 225px;
  height: 175px;
  box-shadow: 0px 8px 12px 0px rgb(82, 82, 82);
  display: grid;
  
}

.nextBtn{
  background-color: rgba(21, 111, 245, 0.652);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.backBtn, .again{
  background-color: rgba(21, 245, 129, 0.652);
  padding: 20px;
  border-radius: 10px;
  font-weight: bolder;
  display: grid;
  align-items: center;
}

.nextBtn{
  display: grid;
  align-items: center;
}

.nextBtn:hover, .backBtn:hover, .again:hover, .answers:hover{
    font-size: 100%;
    cursor: pointer;
    color: aliceblue;
    font-size: 1rem;
  
}

.categoryBtn:hover{
  cursor: pointer;
}

.answers{
  background-color: rgb(0, 224, 249);
  padding: 20px;
  display: grid;
  border-radius: 10px;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0px 3px 3px 0px rgba(205, 205, 205, 0.262);

}

.question, .correct, .wrong, .score, .again{
  color: azure;
  font-size: xx-large;
}
